# Binarios y compilados
/bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

/vendor/

# Archivos de entorno y secretos ¿
.env
.env.local
*.env
splitmeet-76e30-firebase-adminsdk-fbsvc-88326aeffc.json

# IDEs y Editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs y reportes
*.log
coverage.out

# Base de datos
schema.sql

# Documentación local (no subir)
ENTITIES_DOCS.md